{% extends "layout.html" %}

{% block title %}
    Detailed suggestions
{% endblock %}

{% block main %}
    <h3>Suggestions based on averages </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Child's name</th>
                <th>Child's age</th>
                <th>Waketime Length</th>
                <th>Total Sleep Per 24 hours</th>
                <th>Total Night Sleep</th>
                <th>Total Daily Sleep</th>
                <th>Number of Naps</th>
                <th>Advice on Naps</th>
                <th>Ideal bedtime</th>
                <th>Longest stretch of night sleep</th>
                <th>Number of night feeds</th>
            </tr>
        </thead>
        <tbody>
        <!-- Loop through the database entries to display them in this table -->
            {% for child in children %}
            <tr>
                <td>{{child["baby_name"]}}</td>
                <td>{{child["baby_age"]}}</td>
                <td>{{child["waketime"]}}</td>
                <td>{{child["total_sleep"]}}</td>
                <td>{{child["total_night"]}}</td>
                <td>{{child["total_day"]}}</td>
                <td>{{child["nr_naps"]}}</td>
                <td>{{child["naps_advice"]}}</td>
                <td>{{child["bedtime"]}}</td>
                <td>{{child["night_sleep_pattern"]}}</td>
                <td>{{child["night_feeds"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>The table displays data on children up to 4 years of age.</p>
    <p>Source of sleep advice on <a href="http://www.mybabysleepguide.com/2009/02/wake-time.html" target="_blank" rel="noreferrer noopener">waketimes</a> 
        and on <a href="http://www.mybabysleepguide.com/2013/02/average-sleep-charts-by-age.html" target="_blank" rel="noreferrer noopener">averages</a>by Rachel Rowell</p>
    <h4 align="left">Please note:</h4>
    <ul align="left">
        <li>Remember, these are just suggestions. Babies are different and can fall below or above these ranges.</li>
        <li>Waketimes start off on the shorter end and increase a bit as the day progresses.</li>
        <li>Waketimes mean total wake time (starting when baby awakes).</li>
        <li>If your baby was born more than 3 weeks early, use baby’s adjusted age when following waketimes.</li>
      </ul>
    
{% endblock %}