{% extends "layout.html" %}

{% block title %}
    Children
{% endblock %}

{% block main %}
    <h3>Your children </h3>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Baby name</th>
                <th>Date of birth</th>
            </tr>
        </thead>
        <tbody>
        <!-- Loop through the database entries to display them in this table -->
            {% for child in children %}
            <tr>
                <td>{{child["baby_name"]}}</td>
                <td>{{child["baby_birth"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Add a child</h2>
    <form action="/children" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="baby_name" placeholder="Baby's first name" type="text" required
            pattern="^[A-Za-zÀ-ÿ ,.'-]+$" 
            minlength="2" title="Child's name cannot contain numbers and has to have at least 2 characters">
        </div>
        <div class="form-group">
            <label>
                Enter your child's date of birth:
                <input type="date" name="baby_birth" max="3000-01-01" required onfocus="this.max=new Date().toISOString().split('T')[0]">
              </label>
        </div>
        <button class="btn btn-primary" type="submit">Add a child</button>
    </form>

{% endblock %}
