{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h2>Hello, {{first_name}}!</h2>

    <h3>Your children's sleep needs </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Child's name</th>
                <th>Child's age</th>
                <th>Total sleep need in 24h</th>
                <th>Nap pattern</th>
            </tr>
        </thead>
        <tbody>
        <!-- Loop through the database entries to display them in this table -->
            {% for child in children %}
            <tr>
                <td>{{child["baby_name"]}}</td>
                <td>{{child["baby_age"]}}</td>
                <td>{{child["total"]}}</td>
                <td>{{child["naps"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

    <p>The table displays data on children under 14 years of age.</p>
    <p>Source of sleep advice: <a href="https://www.nytimes.com/2020/03/24/parenting/child-stop-napping.html" target="_blank">Dr Craig Canapari</a></p>