{% extends "layout.html" %}

{% block title %}
    Waketimes
{% endblock %}

{% block main %}
    <h3>Your children's suggested waketime length </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Child's name</th>
                <th>Child's age</th>
                <th>Waketime Length</th>
                <th>Waketime Schedule</th>
            </tr>
        </thead>
        <tbody>
        <!-- Loop through the database entries to display them in this table -->
            {% for child in children %}
            <tr>
                <td>{{child["baby_name"]}}</td>
                <td>{{child["baby_age"]}}</td>
                <td>{{child["waketime"]}}</td>
                <td>{{child["schedule"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>The table displays data on children up to 4 years of age.</p>
    <p>Source of sleep advice: <a href="http://www.mybabysleepguide.com/2009/02/wake-time.html" target="_blank" rel="noreferrer noopener">Rachel Rowell</a></p>
    <h4 align="left">Please note:</h4>
    <ul align="left">
        <li>Remember, these are just suggestions. Babies are different and can fall below or above these ranges.</li>
        <li>Your child may have higher or lower wake time needs. Consult with your pediatrician in matters related to your child's health. </li>
        <li>Waketimes start off on the shorter end and increase a bit as the day progresses.</li>
        <li>Waketimes mean total wake time (starting when baby awakes).</li>
        <li>If your baby was born more than 3 weeks early, use baby’s adjusted age when following wake times.</li>
        <li>Sample waketime schedules are given for children from 3 to 12 months.</li>
        <li>Slashes in sample schedules indicate naps. Waketimes are given in hours. So 0.25 is 15 minutes.</li>
    </ul>
    
{% endblock %}